parameters:
  git_dir: .
  bin_dir: vendor/bin
grumphp:
  ignore_unstaged_changes: true
  parallel:
    enabled: false
  process_timeout: 180
  ascii:
    failed: vendor/johnatas-x/drupal-quality-checker/resources/grumpy.txt
    succeeded: vendor/johnatas-x/drupal-quality-checker/resources/happy.txt
  extensions:
    - GrumphpDrupalCheck\ExtensionLoader
  tasks:
    phplint: ~
    yamllint: ~
    composer: ~
    jsonlint: ~
    twigcs:
      path: 'web'
      ruleset: 'FriendsOfTwig\Twigcs\Ruleset\Official'
      exclude:
        - core
        - modules/contrib
        - themes/contrib
        - profiles/contrib
    phpcpd:
      directory: ['./web/modules/custom']
    phpcs:
      standard:
        - phpcs.xml.dist
      ignore_patterns:
        - .github
        - .gitlab
        - /config/
        - /drush/
        - /web/robots.txt
        - /web/sites/default/
        - bower_components
        - node_modules
        - /vendor
      triggered_by:
        - php
        - module
        - inc
        - install
        - test
        - profile
        - theme
        - css
        - info
        - txt
    phpmd:
      whitelist_patterns:
        - /^web\/modules\/custom\/(.*)/
      ruleset: ['phpmd.xml.dist']
      triggered_by: ['php']
    phpstan:
      autoload_file: ~
      configuration: ~
      level: null
      force_patterns: []
      ignore_patterns: []
      triggered_by: ['php']
      memory_limit: "-1"
      use_grumphp_paths: true
    drupalcheck:
      drupal_root: ~
      memory_limit: ~
      deprecations: true
      analysis: false
      php8: true
      exclude_dir: []
